/**********************module01  start*******************/
/* line 72, synthesis/*.png */
.synthesis-sprite, .synthesis-synthesis-s8306d3e6d6, .synthesis-y-return, .synthesis-y-w-sticker, .synthesis-y-w-template {
  background-image: url('../images/synthesis-s05efa08d79.png');
  background-repeat: no-repeat; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-synthesis-s8306d3e6d6 {
  background-position: 0 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-y-return {
  background-position: -2167px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-y-w-sticker {
  background-position: -2225px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-y-w-template {
  background-position: -2278px 0; }

/********************module01  end*********************/
