/**********************module01  start*******************/
/* line 160, synthesis/*.png */
.synthesis-sprite, .synthesis-attention-btn, .synthesis-collection-btn, .synthesis-collection-sm-btn, .synthesis-comment-btn, .synthesis-corzine-btn, .synthesis-float-close-btn, .synthesis-forward-btn, .synthesis-forward-sm-btn, .synthesis-image-text, .synthesis-music-btn, .synthesis-sign-btn, .synthesis-video-btn, .synthesis-w-land-btn1, .synthesis-w-land-btn2, .synthesis-w-land-btn3 {
  background-image: url('../images/synthesis-s619fae2c92.png');
  background-repeat: no-repeat; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-attention-btn {
  background-position: 0 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-collection-btn {
  background-position: -91px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-collection-sm-btn {
  background-position: -162px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-comment-btn {
  background-position: -225px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-corzine-btn {
  background-position: -296px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-float-close-btn {
  background-position: -367px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-forward-btn {
  background-position: -409px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-forward-sm-btn {
  background-position: -480px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-image-text {
  background-position: -543px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-music-btn {
  background-position: -778px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-sign-btn {
  background-position: -1013px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-video-btn {
  background-position: -1248px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-w-land-btn1 {
  background-position: -1483px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-w-land-btn2 {
  background-position: -1594px 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.synthesis-w-land-btn3 {
  background-position: -1705px 0; }

/********************module01  end*********************/
